<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to 'Add New User', new_user_path %>
<%= link_to "View All Events", events_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'See Events', user %></td>
        <td><%= link_to 'Change Name', edit_user_path(user) %></td>
        <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

